{% extends "base.html" %}
{% block title %}Code{% endblock %}
{% block content %}
<div>
<div id="app">
</div>

<script>
const { createApp, ref } = Vue

const app = createApp({
  // Composition API: setup(): https://ja.vuejs.org/api/composition-api-setup
  setup() { },
  async mounted() {
    let state = localStorage.getItem("state")
    let nonce = localStorage.getItem("nonce")
    console.log(`[code] state: ${state}, nonce: ${nonce}`)

    // GETパラメータをパース
    let query = CommonUtil.parseQuery(location.search)
    console.log("[code] query: ", query)

    // stateの検証
    if (query.state !== state) {
      alert('state not match');
      throw new Error('state not match');
    }

    // トークンの取得
    let res = await fetch("/api/token", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        "code": query.code,
        "nonce": nonce,
      })
    })
    let data = await res.json()
    if (!res.ok) {
      alert(`${res.status} ${res.statusText}: verify failed. ${data.detail}`);
      throw new Error(`${res.status} ${res.statusText}: verify failed. ${data.detail}`);
    }

    location.href = "/content"
  },
  delimiters: ['[[', ']]']
})
app.mount('#app')

</script>
</div>
{% endblock %}
