{% extends "base.html" %}
{% block title %}Top{% endblock %}
{% block content %}
<div>
<div id="app">
  <code>[[id_token_payload]]</code>
  <code>[[token_response]]</code>

</div>

<script>
const { createApp, ref } = Vue

const app = createApp({
  // Composition API: setup(): https://ja.vuejs.org/api/composition-api-setup
  setup() {
  },
  mounted() {
    if (AuthUtil.isAuthenticated()) {
      location.href = "/content"
    } else {
      location.href = "/login"
    }
  },
  delimiters: ['[[', ']]']
})
app.mount('#app')
</script>
</div>

{% endblock %}