{% extends "base.html" %}
{% block title %}Content{% endblock %}
{% block content %}
<div>
<div id="app">
  <div class="mb-5">
    <h2>Userinfo</h2>
    <table class="table table-bordered">
      <tr>
        <th width="250px">Key</th>
        <th>Value</th>
      </tr>
      <tr v-for="(value, key) in userinfo" :key="key">
        <td>[[ key ]]</td>
        <td><code>[[ value ]]</code></td>
      </tr>
    </table>
  </div>
  <div class="mb-5">
    <h2>ID Token Payload</h2>
    <table class="table table-bordered">
      <tr>
        <th width="250px">Key</th>
        <th>Value</th>
      </tr>
      <tr v-for="(value, key) in session_data.id_token_payload" :key="key">
        <td>[[ key ]]</td>
        <td><code>[[ value ]]</code></td>
      </tr>
    </table>
  </div>
  <div class="mb-5">
    <h2>Token Response</h2>
    <table class="table table-bordered">
      <tr>
        <th width="250px">Key</th>
        <th>Value</th>
      </tr>
      <tr v-for="(value, key) in session_data.token_response" :key="key">
        <td>[[ key ]]</td>
        <td><code>[[ value ]]</code></td>
      </tr>
    </table>
  </div>
</div>

<script>
const { createApp, ref, onMounted } = Vue

const app = createApp({
  // Composition API: setup(): https://ja.vuejs.org/api/composition-api-setup
  setup() {
    const session_data = ref({})
    const userinfo = ref({})

    onMounted(async () => {
      let userinfoResponse = await fetch("/api/userinfo", { method: "GET" })
      if (!userinfoResponse.ok) {
        let msg = `${userinfoResponse.status} ${userinfoResponse.statusText}: ${await userinfoResponse.text()}`
        alert(msg)
        location.href = "/login"
      }
      userinfo.value = await userinfoResponse.json()

      let res = await fetch("/api/session_data", { method: "GET" })
      if (!res.ok) {
        let msg = `${res.status} ${res.statusText}: ${await res.text()}`
        alert(msg)
        location.href = "/login"
      }
      session_data.value = await res.json()
    })
    
    return {
       session_data,
       userinfo
    }
  },
  async mounted() {
  },
  delimiters: ['[[', ']]']
})
app.mount('#app')
</script>

<style>
.table td {
  table-layout: fixed;
  word-break: break-all; /* テキストの折り返しを有効にします */
  word-wrap: break-all; /* テキストの折り返しを有効にします */
}
</style>
</div>

{% endblock %}
