{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div>
<div id="app">
  <div class="d-flex justify-content-center">
    <div class="card" >
      <div class="card-body">
        <div class="d-flex justify-content-center my-5">
          <div>
            <h1 class="card-title">Keycloak Sample App</h1>
          </div>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" @click="login">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
const { createApp, ref } = Vue

const app = createApp({
  // Composition API: setup(): https://ja.vuejs.org/api/composition-api-setup
  setup() {
    function login() {
      const state = CommonUtil.randomString(32)
      const nonce = CommonUtil.randomString(32)
      localStorage.setItem("state", state)
      localStorage.setItem("nonce", nonce)

      const url = "{{ authorization_endpoint_url }}"
      const query = {
        "response_type": "code",
        "client_id": "{{ client_id }}",
        "scope": "openid email profile",
        "redirect_uri": `${location.origin}/code`,
        "state": state,
        "nonce": nonce,
      }
      const query_str = Object.entries(query).map(([k, v]) => `${k}=${encodeURIComponent(v)}`).join("&")
      const autorization_endpoint_url = `${url}?${query_str}`
      console.log("[login] autorization_endpoint_url: ", autorization_endpoint_url)
      location.href = autorization_endpoint_url;
    }
    return {
      login
    }
  },
  mounted() {
  },
  delimiters: ['[[', ']]']
})
app.mount('#app')
</script>
</div>
{% endblock %}
